header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a{
    font-size: .9rem;
    padding: .5rem 1.2rem;
}

// .cards div{
//     flex-basis: 25%;
// }

div.cards div{
    flex-basis: 25%;
}
