header, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header{
        grid-template-columns: 51px auto auto;
}

/*----------- NAVIGATION --------------*/
nav {
        button{display: none;}
        justify-self: end;
        ul, ul.open{
                position: relative;
                display: flex;
                background-color: transparent;
                width: auto;
        }

        ul li{
                border: none;
        }

        ul li a{
                color: #333;
                border-radius: 2px;
                padding: .5rem 1rem;
                margin-left: .2rem;
                transition: all .5s ease;
        }

        ul li a:hover{
                background-color: #eee;
                color: #333!important;
        }

        ul li.active a{
                color: white;

        }
}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
