header, main, footer {
        max-width: 75rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header{
        grid-template-columns:120px auto auto;
}

/*----------- NAVIGATION --------------*/
nav {
        button{display: none;}
        padding-top: 1.5rem;
        #primaryNav{justify-self: end;}
        ul, ul.open{
                position: relative;
                display: flex;
                background-color: transparent;
                width: auto;
        }

        ul li{
                border: none;
        }

        ul li a{
                color: #333;
                border-radius: 2px;
                padding: .5rem 1rem;
                margin-left: .2rem;
                transition: all .5s ease;
        }

        ul li a:hover{
                background-color: rgb(255, 255, 203);
                color: #333!important;
        }

        ul li.active a{
                color: rgb(0, 0, 0);

        }
}


/*----------- MAIN --------------*/
main{}
div.member{
        flex-basis: 17.5%;
        width: 17.5rem;
        p{padding: 1.5rem;}
    }
    .bandMembers{
        p{padding: 1.5rem;}
    }



/*----------- FOOTER --------------*/
    
