header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav{
     bottom: 0;
     left: 0;
     right: 0;
}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
