


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
main{
    
    // .info, .figureTag{
    //     // display: flex;
    //     // flex-wrap: wrap;
    //     grid-template-columns: auto auto;
    //     background-color: rgb(223, 223, 223);
    //     flex-basis: 30%;
    // }
    // #cardWrapper{
    //     grid-template-columns: 1fr 1fr;
    //     // background-color: rgb(223, 223, 223);
        
    // }
}

div#myCards{
    grid-template-columns: 1fr 1fr;
    .hotels{
        max-height: 200px;
        padding: 0 .75rem;
    }
    .info{padding:1rem;}
}




/*----------- FOOTER --------------*/
    
