/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: rgb(153, 153, 153);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    span{padding:.5rem;}
    
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    flex-basis: 31.3%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    text-align: center;
    
}

nav ul li a:hover {
    background-color: darken(rgb(24, 213, 255), 15%);
    color: #333;
}
nav ul li.active a {
    background-color: rgb(24, 213, 255);
    color: rgb(0, 0, 0);
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    
}

div#myCards{
figure{
    position: relative;
    margin: 0;
    width: 100%;
    img{width: 100%;}

    figcaption{
        position:absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        padding: .5rem 2vw;
    }
}
}//end of myCards

#cardWrapper{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(255,255,255,0.5);
}
div#myCards{
    background-color: rgba(203, 203, 203, 0.5);
    display: grid;
    grid-template-columns: 1fr;
}

div.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.icon{
    float: left;
    width: 2rem;
}
.callIcon{
    width: 2rem;
}
div span p{
    padding-left: 1.6rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}