header, nav, main {
    max-width: 1200px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav ul li a{
    padding: .6rem 2rem;
    font-size: 0.8rem;
}

nav ul{
    justify-content: center;
}