header, nav, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */



div.imageGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .lead{
        grid-column: 1 / span 3;
        grid-row: 1 /span 2;
    }
}

div.footerGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    // .title{
    //     grid-column: 1 / span 1;
    // }
    // .shows{
    //     grid-column: 2 / span 1;
    // }
    // .tools{
    //     grid-column: 3 / span 1;
    // }
    // .personalities{
    //     grid-column: 4 / span 1;
    // }
}