/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
div#topbar{
    background-color: black;
    color:white;
    font-size: 1.6rem;
    padding: 1rem 2vw;
}
div#headerWrapper{
    background-image: url(../images/header-small.jpg);
    height: 140px;
    padding: 1rem 2vw;
    
}
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // padding: .5rem 2%;
    height: 140px;
    color:rgb(255, 255, 255);
    margin-left: 0;
    
    h1 {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 1rem 2vw;
        font-size: 1.4rem;
        width: 100vw;
        margin-left: 0;
        
    }
}


/*----------- NAVIGATION --------------*/
nav {
    button{
        padding: .5rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }//end button
}



div#navWrapper{
    background-color: rgb(226, 173, 116);
}
nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: solid 1px rgba(255,255,255,0.3);
}

nav ul.open{
    display: block;
}
nav ul li {
    border-bottom: solid 1px rgba(255,255,255,0.3);
}
nav ul li a {
    display: block;
    background-color: rgb(226, 173, 116);
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: left;
    color: black;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: white;
    color: #333;
}
nav ul li.active a {
    background-color: rgb(213, 213, 213);
    color: black;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    div.grid{
        display: flex;
        flex-wrap: wrap;
        a{text-decoration: none;}
    }
    div.card{
        border: 1px solid rgb(190, 190, 190); 
        border-radius: 10px;
        flex-basis: 100%;
        background-color: rgb(173, 173, 173);
        margin: 0.5rem 1%;
        text-align: center;
        section{
            background-color: #444;
            color: rgb(225, 225, 225);
            padding-top: 3rem;
            padding: 1rem 0;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
        }
        img{
            padding: 1rem;

        }
        p{
            padding: 1rem 2vw;
        }
        div.paragraphContainer{
            height: 100px;
        }
        a{
            display: block;
            background-color: orange;
            color: black;
            padding: 1rem 0;
            margin: 1rem 4vw;
            border-radius: 10px;
        }
        a:hover{
            background-color: lighten(orange, 10%);
        }
    }

    img.money{transition: transform 2s;}
    img.money:hover{ 
        position: relative;
        animation: pulse ease-in-out 2s forwards;
    }

    @keyframes pulse{
        0%{filter: grayscale(.8)};
        50%{filter: grayscale(.5)}
        100%{filter: grayscale(0)}
    }


    div.card img{
        animation: scales 2s 1;
    }
    img{
        position:relative;
        transition: transform 3s;
    }
    @keyframes scales{
        from{transform: scale(1.5); animation-timing-function: ease-out;}
        to{transform: scale(1); animation-timing-function: ease-in;}
    }

    
}


/*----------- FOOTER --------------*/
footer {
    background-color: rgb(226, 173, 116);
    padding: .5rem 2%;
    text-align: center;
    
}
div#footerWrapper{
    background-color: rgb(226, 173, 116);
    margin-top: 10rem;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}